<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body th:fragment="top_menuElement">
<!-- Kilde: https://www.youtube.com/watch?v=aiAf5eO5nx8-->
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="navbar-nav mr-auto">
        <!-- / viser tilbage til forside. Getmetoden til kan ses i StartController -->
        <!-- https://getbootstrap.com/docs/4.0/components/navs/-->
        <a class="nav-item active nav-link" th:href="@{/weather}">Weather Report</a>
        <a class="nav-item active nav-link" th:href="@{/historic}">Historical Weather Report</a>
    </div>
</nav>

</body>
</html>