<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerElement">
    <title>Title</title>
</head>
<body>
    <header th:replace="fragments/top_menu :: top_menuElement"></header>

    <table>
        <tr>
            <th>Wind</th>
            <th>Cloudiness</th>
            <th>Pressure</th>
            <th>Humidity</th>
            <th>Sunrise</th>
            <th>Sunset</th>
            <th>Geo coords</th>
            <th></th>
        </tr>
        <tr>
            <img th:src="@{${'http://openweathermap.org/img/wn/' + img + '@2x.png'}}"/>
            <td th:text="${windDTO}"></td>
            <td th:text="${weatherDTO.getDescription()}"></td>
            <td>
        </tr>
    </table>

    <footer th:replace="fragments/footer :: footerElement"></footer>
</body>
</html>